#tran{
    width: 100px;
    height: 100px;
    background-color: white;
    transition: background-color 5s;
    transition-delay: 3s;
    
}
#tran:hover{
    background-color: black;
}
#tran2{
    width: 100px;
    height: 50px;
    background-color: red;
    transition: height 4s;
    transition-delay: 3s;
    
}
#tran2:hover{
    height: 500px;
}
#tran3{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition: border radius width;
    transition-delay: 3s;
    
}
#tran3:hover{
    border-radius: 100%;
    height: 50px;
}

